__pycache__/
Datos/*.pkl
Datos/*.zip
Datos/catboost_info/learn_error.tsv
Datos/catboost_info/catboost_training.json
Datos/catboost_info/time_left.tsv
Datos/catboost_info/learn/events.out.tfevents
catboost_info/catboost_training.json
catboost_info/learn_error.tsv
catboost_info/time_left.tsv
catboost_info/learn/events.out.tfevents
Funciones/PCA.pkl
